@import "compass/reset";

/* Settings */
$red: #ff0000;
$blue: #00a3ff;
$yel: #ffe500;
$green: #1cdb1c;
$grid-gutter: 30px;


@mixin clr { &:after {content: ''; clear: both; display: block;} }
@mixin bx {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
@mixin bf {content: ''; display: block; position: absolute;}
@mixin br($rad) {border-radius: $rad; -moz-border-radius: $rad; -webkit-border-radius: $rad;}
@mixin shad($shad) {-webkit-box-shadow: $shad; -moz-box-shadow: $shad; box-shadow: $shad;}
@mixin tb {display: table; width: 100%; border-collapse: collapse;}
@mixin cell {display: table-cell; vertical-align: middle;}
@mixin flex {display: -ms-flexbox; display: flex;}
@mixin fam($name) {font-family: $name;}
@mixin anim($sec) {transition: all $sec ease-out; -moz-transition: all $sec ease-out; -webkit-transition: all $sec ease-out;}
@mixin font {font-family: 'sf_monomedium';}
@mixin inp {-webkit-appearance: none; appearance: none; @include bx; margin: 0; outline: none;}


/* Fonts */
@font-face {
    font-family: 'sf_monoregular';
    src: url('../fonts/sfmonoregular.eot');
    src: url('../fonts/sfmonoregular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfmonoregular.woff2') format('woff2'),
         url('../fonts/sfmonoregular.woff') format('woff'),
         url('../fonts/sfmonoregular.ttf') format('truetype'),
         url('../fonts/sfmonoregular.svg#sf_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sf_monolight';
    src: url('../fonts/sfmonolight.eot');
    src: url('../fonts/sfmonolight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfmonolight.woff2') format('woff2'),
         url('../fonts/sfmonolight.woff') format('woff'),
         url('../fonts/sfmonolight.ttf') format('truetype'),
         url('../fonts/sfmonolight.svg#sf_monolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sf_monomedium';
    src: url('../fonts/sfmonomedium.eot');
    src: url('../fonts/sfmonomedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfmonomedium.woff2') format('woff2'),
         url('../fonts/sfmonomedium.woff') format('woff'),
         url('../fonts/sfmonomedium.ttf') format('truetype'),
         url('../fonts/sfmonomedium.svg#sf_monomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}




/* ===== Reset ===== */
* {@include bx;}
html, body {height: 100%; min-height: 100%; margin: 0;}
body {background: #0c0c0c; color: #fff; font-size: 14px; @include font; line-height: 22px; margin: 0;}
main {display: block;}
img {border: 0; max-width: 100%;}
p {margin: 0 0 20px; &:last-child {margin: 0;} }
ul, ol {padding: 0; margin: 0;}
li {list-style: none;}
a, input, textarea {outline: none;}
a {color: blue;}
a:hover {text-decoration: none;}
th {font-weight: normal; text-align: left;}
fieldset {padding: 0; border: 0; margin: 0;}
blockquote {margin: 0; padding: 0;}
textarea {resize: none; overflow: auto;}
input::-moz-focus-inner {border: 0; padding: 0;}
.clear {clear: both; display: block;}
h2, h3 {margin: 0 0 15px;}
h2 {font-size: 14px;}
hr {background: #222; border: 0; height: 1px; clear: both; display: block; margin: 14px 0 15px; padding: 0;}
.red {color: $red;}
.white {color: #fff;}
.blue {color: $blue;}




/* ===== Responsive grid ===== */
.container {margin: 0 auto; padding: 9px 0 0; width: 1016px; @include flex;}
.leftcol {width: 100%;}
.sidebar {min-width: 378px; max-width: 378px; margin-left: 4px;}
.is-clear, .container {@include clr;}
.row {
	display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;
	margin-left: -2px; margin-right: -2px;
}
[class*='grid'] {padding-left: 2px; padding-right: 2px; width: 100%;}
.grid4 {-ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%;}
.grid6 {-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
.grid8 {-ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%;}


/* Widjet */
.widjet {
	background: #000; border: 1px solid #222; @include br(3px); padding: 12px;
	position: relative; margin: 0 0 4px;
    &.flex {@include flex; align-items: flex-start; justify-content: space-between;}
    &.click {cursor: pointer;}
    &.active {border-color: #091372;}
}


/* ===== map_rpm ===== */
.map_rpm {
    width: 230px; @include clr;
    img {display: block;}
}


/* ===== bentscale ===== */
.bentscale {
	display: block; position: relative; width: 90px; height: 292px; float: left; margin: 0;
	svg, img {display: block;}
    &_text {position: absolute; left: 0; top: 50%; margin-top: -20px;}
	&_range {
        display: block; overflow: hidden; position: absolute; left: 0; bottom: 0; width: 100%;
        //@include anim(400ms);
        svg, img {position: absolute; bottom: 0; left: 0; width: 90px; height: 292px;}
    }
    &_value {color: #fff; font-size: 20px; line-height: 24px; margin: 0 0 2px;}
    &_name {color: #828282; font-size: 14px; line-height: 17px;}

    &.mirror {
        float: right;
        .bentscale_text {text-align: right; left: auto; right: 0;}
        img, svg {transform: matrix(-1,0,0,1,0,0); -ms-transform: matrix(-1,0,0,1,0,0);}
    }

    &_data {
        width: 50px; color: #828282; font-size: 10px; line-height: 12px; text-align: center; float: left;
        @include flex; align-content: center; flex-wrap: wrap; height: 292px;
        span {display: block; width: 100%; margin: 0 0 29px; &:last-child {margin: 0;} }
        span.active {color: #fff;}
    }
}
img.bentscale_range-green, img.bentscale_range-yellow, img.bentscale_range-red {display: none;}


/* ===== scale ===== */
.scale {
    width: 30px; position: relative; padding: 24px 0;
    &_inner {position: relative;}
    &_range {position: absolute; width: 18px; height: 0; bottom: 0; right: 0;}
    &_box {
        width: 2px; height: 217px; position: relative; margin-left: 4px;
        &_item {
            width: 2px; position: absolute; right: 0;
            &:before, &:after {@include bf; height: 2px; width: 6px; right: 0;}
            &:before {top: 0;}
            &:after {bottom: 0;}
            &.rb {
                background: $red;
                &:before {background: $red;}
                &:after {background: $red;}
            }
            &.rt {
                background: $red;
                &:before {background: $red;}
            }
            &.yb {
                background: $yel;
                &:before {background: $yel;}
            }
            &.gr {
                background: $green;
                &:before {background: $green;}
            }
        }
    }
    &_val {color: #fff; font-size: 18px; line-height: 21px; position: absolute; top: 0; left: 8px;}
    &_name {
        color: #828282; font-size: 14px; line-height: 17px; position: absolute; bottom: 0; left: 0;
        text-align: center; width: 100%;
    }
    &_data {
        color: #828282; font-size: 8px; line-height: 8px; text-align: center; position: relative; 
        width: 38px; text-transform: uppercase; height: 217px;
        span {display: block; position: absolute; width: 100%; left: 0;}
    }
    &_small &_box {height: 110px;}
    &_small &_val {font-size: 12px; line-height: 14px; left: 3px;}
}


/* ===== TANK ===== */
.tankbox {
    width: 98px;
    &_scales {@include flex; align-items: center; justify-content: space-between; margin: 0 0 10px;}
    &_title {color: #fff; font-size: 18px; line-height: 21px; text-transform: uppercase; text-align: center;}
}


/* ===== smallwidjet ===== */
.widjet.active .smallwidjet {
    color: #fff;
    &_title {&:before, &:after {border-color: #fff;}}
}
.smallwidjet {
    height: 60px; @include flex; justify-content: space-between;
    color: #828282; font-size: 14px; line-height: 17px;
    .red {color: $red;}
    .yellow {color: $yel;}
    &_left {@include flex; align-items: center;}
    &_titles {@include flex; align-content: space-between; flex-wrap: wrap;}
    &_values {@include flex; align-content: space-between; flex-wrap: wrap; justify-content: flex-end; text-align: right;}
    &_name {display: block; width: 100%;}
    &_title {
        display: block; position: relative;
        &:before, &:after {@include bf; width: 6px; height: 6px; left: 12px; border-left: 1px solid #616161;}
        &:before {border-top: 1px solid #616161; top: -15px;}
        &:after {border-bottom: 1px solid #616161; bottom: -15px;}
        &.redt, &.redb {color: $red;}
        &.redt:before {border-color: $red !important;}
        &.redb:after {border-color: $red !important;}
    }
}


/* ===== oilbox ===== */
.oilrow {padding: 12px 0;}
.oilrow .oilbox {
    border-left: 1px solid #222; width: 50%;
    &:first-child {border-left: 0;}
}
.oilbox {
    @include flex; align-items: center; justify-content: center;
    &_title {
        color: #828282; font-size: 18px; line-height: 21px; text-transform: uppercase; margin: 0 23px 0 0;
        img {display: block; margin: 0 auto 16px;}
        span {display: block;}
        &.red {color: $red;}
    }
    .scale {margin: 0 20px 0 0; &:last-child {margin: 0;} }
}
.oilrow2 {
    @include flex; padding: 12px 0;
    .oilbox {
        border-left: 1px solid #222; padding: 0 16px; width: 100%;
        &:first-child {border-left: 0;}
    }
    .oilbox_title {margin-right: 12px;}
    .oilbox .scale {margin: 0 12px 0 0; &:last-child {margin: 0;} }
    .oilbox2 {
        .scale {width: 25px;}
        .scale_range {width: 13px;}
    }
}
#cht_egt, #flaps {display: none;}


/* ===== flaps / trim /gear ===== */
.flaps_trim {
    @include flex; justify-content: space-between; padding: 22px 12px;
    &_item {height: 138px; position: relative;}
    &_title {color: #fff; font-size: 14px; line-height: 17px; text-transform: uppercase;}
}
.flapsbox {
    width: 108px;
    &_img {position: absolute; left: 0; top: 60px;}
    &_scale {position: absolute; right: 0; top: 20px;}
    &_value {font-size: 14px; line-height: 17px; position: absolute; left: 0; 
        top: 0; width: 100%; text-align: center; color: $green;}
    .flaps_trim_title {position: absolute; left: 0; bottom: 0; width: 100%; text-align: center;}
    &_arrow {
        position: absolute; left: 54px; top: 61px;
        background: $green; width: 14px; height: 14px; @include br(50%);
        &:before {
            @include bf; width: 0; height: 0; border-style: solid; border-width: 7px 0 7px 33px;
            border-color: transparent transparent transparent $green; left: 8px; top: 0;
        }
        &.yel {background: $yel; &:before {border-color: transparent transparent transparent $yel;} }
        &.grey {background: #828282; &:before {border-color: transparent transparent transparent #828282;} }
    }
}

/* ===== gearbox ===== */
.gearbox {
    text-align: center; @include flex; flex-wrap: wrap; align-content: space-between;
    .flaps_trim_title {
        color: #828282;
        &.red {color: $red;}
        &.white {color: #fff;}
    }
    &_item {width: 100%;}
    &_val {@include br(50%); display: block; width: 16px; height: 16px; background: #665c00; margin: 5px auto;}
    &_val.active {background: $red;}
}

/* ===== trimbox ===== */
.trimbox {
    .flaps_trim_title {position: absolute; left: 0; bottom: 0; width: 100%; text-align: center;}
    &_scale {background: url(../images/trim.svg) no-repeat; width: 95px; height: 116px; position: relative;}
    &_arrows {position: absolute; left: 32px; top: 58px; width: 30px; margin-top: -6px;}
    &_arrow {
        border: 5px solid transparent; border-left: 7px solid $green; position: absolute; left: 0; top: 0;
        &_right {border: 5px solid transparent; border-right: 7px solid $green; left: auto; right: 0;}
        &.yellow {border-left-color: $yel;}
        &_right.yellow {border-left: 0; border-right-color: $yel;}
    }
    &_bottom {
        height: 6px; position: absolute; left: 0; right: 0; bottom: 10px;
        &_range {position: absolute; top: 0; height: 6px; background: $yel; width: 0;}
        &_left {right: 47px;}
        &_right {left: 47px;}
    }
    &_topscale {
        position: absolute; left: -1px; width: 96px; top: 9px;
        &_left {
            position: absolute; width: 0; height: 15px; overflow: hidden; right: 47px; top: 0;
            svg {position: absolute; right: -42px;}
        }
        &_right {
            position: absolute; width: 0; height: 15px; overflow: hidden; left: 47px; top: 0;
            svg {position: absolute; left: -42px;}
        }
    }
}

/* ===== shortwidjet ===== */
.bars {
    background: url(../images/bars.svg) no-repeat; display: block; width: 36px; height: 36px;
    background-size: 36px 36px;
    &.red {background-image: url(../images/bars2.svg);}
}
.shortwidjet {
    position: relative; font-size: 10px; line-height: 12px; color: #828282;
    padding: 12px; padding-right: 70px; min-height: 62px;
    &:last-child {margin: 0;}
    .bars {position: absolute; right: 12px; top: 12px;}
}



/* UPDATE */
.shortwidjet {min-height: 62px;}
.shortwidjet.flexed {width: 100%; @include flex; align-items: center; @include br(0 0 3px 3px);}
.widjet_info {
    display: block; margin: 0 20px 0 0;
    &:last-child {margin: 0;}
    small {color: #828282; display: block; font-size: 10px; line-height: 12px; text-transform: uppercase;}
    &_name {color: #fff; font-size: 18px; line-height: 21px; text-transform: uppercase;}
}

/* compas */
.compas {
    width: 100%; height: 100%; position: relative;
    #compasbox {position: relative; width: 100%; height: 100%;}
    &_inner {margin: 0 auto; width: 186px; height: 186px; position: relative;}
    &:before {
        background: url(../images/plane.svg) no-repeat; @include bf; width: 16px; 
        height: 18px; position: absolute; left: 50%; top: 50%; margin: -9px 0 0 -8px;
        background-size: cover; z-index: 10;
    }
    img {display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
    &_arrow {
        position: absolute; left: 0; top: 0; width: 100%; height: 100%;
        //transition: all 50ms linear; -ms-transition: all 50ms linear;
        &_triangle {
            @include bf; border: 5px solid transparent; border-bottom: 7px solid #00a3ff;
            left: 50%; top: 56px; margin-left: -5px;
            &.reverse {border: 5px solid transparent; border-top: 7px solid #00a3ff;}
        }
        &_circle {
            border: 1px solid #222;
            @include br(50%); width: 94px; height: 94px; position: absolute; left: 50%; top: 50%;
            overflow: hidden; margin: -47px 0 0 -47px; z-index: 20;
        }
        &_rarr1, &_rarr2 {
            position: absolute; width: 2px; background: #00a3ff; height: 43px;
            left: 50%; margin-left: -1px;
        }
        &_rarr1 {
            top: 4px;
            &:after {
                @include bf; border: 5px solid transparent; border-bottom: 7px solid #00a3ff;
                left: 50%; top: -6px; margin-left: -5px;
            }
        }
        &_rarr2 {bottom: 4px;}
        &_dot {
            @include br(50%); background: #828282; width: 4px; height: 4px;
            position: absolute; top: 50%; margin-top: -2px; left: 50%;
            &.llt {background: #4b4b4b; margin-left: -32px;}
            &.lt {margin-left: -17px;}
            &.rt {margin-left: 13px;}
            &.rrt {background: #4b4b4b; margin-left: 28px;}
        }
        &_line {
            position: absolute; width: 2px; height: 100px; background: #00a3ff;
            left: 50%; top: -3px; margin-left: -1px;
        }
    }
    &_dig {
        color: #828282; position: absolute; font-size: 12px; line-height: 12px;
        &.white {color: #fff; font-size: 14px; line-height: 14px;}
    }
    &_gps {
        @include br(50%); width: 94px; height: 94px; position: absolute; left: 50%; top: 50%;
        overflow: hidden; margin: -47px 0 0 -47px; z-index: 25; border: 1px solid #222;
        &_inner {
            background: #000; border: 1px solid #222; @include br(3px); font-size: 10px;
            line-height: 10px; color: #fff; text-align: center; width: 60px; height: 25px;
            bottom: -4px; left: 50%; margin-left: -30px; position: absolute; padding-top: 3px;
        }
    }
    &_wrapper {position: relative; padding-top: 38px; margin-left: 27px;}
    &_tracker {
        text-align: center; white-space: nowrap; position: absolute; left: 50%; top: 0;
        transform: translateX(-50%); -ms-transform: translateX(-50%);
        li {color: #00a3ff; display: inline-block; font-size: 14px; line-height: 18px; width: 110px; text-align: left;}
        li small {color: #828282;}
        li:first-child {text-align: right;}
        li.mid {border: 1px solid #222; @include br(3px); margin: 0 4px; padding: 0 5px; width: auto;}
    }
    &_btn {
        position: absolute; background: 0; @include inp; margin: 0; padding: 0; z-index: 50;
        width: 80px; height: 80px; top: -20px; border: 0; cursor: pointer;
        &#course_left {left: -30px;}
        &#course_right {right: -30px;}
    }
}

/* compas_small_scale */
.compas_scale {
    background: url(../images/small_scale.svg) no-repeat;
    width: 78px; height: 16px; position: absolute; left: 50%;
    margin-left: -39px; top: -9px;
    &_left, &_right {position: absolute; width: 0; height: 16px; top: 0; overflow: hidden;}
    svg {position: absolute; top: 0;}
    &_left {
        right: 50%;
        svg {right: -39px;}
    }
    &_right {
        left: 50%;
        svg {left: -39px;}
    }
}

/* wind_meter */
.wind_meter {
    border: 1px solid #222; @include br(3px); padding: 8px 10px; @include flex; align-items: center;
    color: #fff; font-size: 14px; line-height: 17px; width: 120px; justify-content: space-between;
    margin-top: 2px; margin-left: 30px;
    p {display: block; margin: 0 0 4px; &:last-child {margin: 0;} }
    &_text {text-align: right;}
    &_box {width: 38px; height: 38px; position: relative;}
    &_arrow {
        position: absolute; width: 2px; background: #00a3ff; height: 38px;
        left: 50%; top: 50%; margin-top: -19px;
        &:after {
            @include bf; border: 5px solid transparent; border-bottom: 7px solid #00a3ff;
            left: 50%; top: -6px; margin-left: -5px;
        }
    }
}

/* compas_widjet */
.compas_widjet {
    @include flex; align-items: flex-start; justify-content: space-between; padding: 10px 12px;
    &_left {@include flex;}
    .bars {position: absolute; top: auto; bottom: 12px; right: 12px;}
    .widjet_info {
        margin: 0 15px 6px 0; width: 130px;
        &:last-child {margin: 0;}
    }
}

.planebtn {
    background: url(../images/planebtn.png) no-repeat; padding: 0; cursor: pointer;
    width: 60px; height: 60px; @include inp; margin: 0; border: 0; position: absolute;
    left: -77px; top: 50%; margin-top: -10px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .planebtn {background: url(../images/planebtn-2x.png) no-repeat; background-size: 60px 60px;}
}


/* mainpanel */
.mainpanel {
    height: 440px; margin: 0; @include br(3px 3px 0 0); border-bottom: 0; position: relative;
    padding: 10px 30px; @include flex; align-items: center;
    &_inner {@include flex;}
    &_middle {
        min-width: 280px; max-width: 280px; @include flex; flex-wrap: wrap;
        align-content: space-between; justify-content: center; margin: 0 34px 0 38px;
        &_top {width: 100%;}
    }
}


.container {padding-top: 26px;}
.mainpanel {height: 422px;}
.widjet.widjet_rpm {padding-top: 8px; padding-bottom: 8px;}
.widjet_clicks .widjet {padding-top: 9px; padding-bottom: 9px;}
.smallwidjet {height: 58px;}
.widjet_half .smallwidjet {height: 61px;}


/* gyroball */
.gyroball {
    background: #1b1b1b; @include br(2px); width: 128px; height: 26px; position: relative;
    &:before, &:after {@include bf; width: 1px; height: 26px; top: 0; background: #828282;}
    &:before {left: 50px;}
    &:after {right: 50px;}
    &_dot {
        @include br(50%); background: #fff; width: 18px; height: 18px; position: absolute; top: 4px;
        left: 50%; margin-left: -9px; z-index: 10;
    }
}


/* compastop */
.compastop {
    background: #191919; width: 100%; height: 26px; @include br(2px 2px 0 0); position: relative;
    &_arrow {
        background: #0C0C0C; border: 1px solid #828282; @include br(3px); position: absolute; 
        border-bottom-color: #fff; width: 56px; height: 29px; text-align: center; z-index: 100;
        color: #fff; font-size: 24px; line-height: 29px; left: 50%; margin-left: -28px;
        bottom: 7px;
        &:after {
            @include bf; border: 12px solid transparent; border-top: 5px solid #fff;
            left: 50%; bottom: -18px; margin-left: -12px;
        }
    }
    &_wrap {
        overflow: hidden; width: 100%; position: relative; height: 26px; padding: 0 140px;
        &:before, &:after {@include bf; height: 26px; top: 0; width: 100px; z-index: 10;}
        &:before {
            left: 0;
            background: linear-gradient(to right,  rgba(25,25,25,1) 0%,rgba(25,25,25,0) 100%);
        }
        &:after {
            right: 0;
            background: linear-gradient(to right, rgba(25,25,25,0) 0%,rgba(25,25,25,1) 100%);
        }
    }
    &_scale {
        background: url(../images/compas-scale.svg) 0 0 repeat-x; width: 10650px; height: 21px;
        left: -6340px; position: absolute; bottom: 0;
    }
}



/* numbersbox */
.numbersbox {
    position: relative;
    width: 80px;
    &.right {width: 95px;}
    &_head {
        background: #222; @include br(2px 2px 0 0); color: #fff; text-transform: uppercase;
        text-align: center; font-size: 12px; line-height: 16px; padding: 5px; width: 100%;
    }
    &_content {
        background: #2b2b2b; width: 100%; height: 290px; position: relative; overflow: hidden;
        &:before, &:after {@include bf; height: 100px; left: 0; width: 100%; z-index: 10;}
        &:before {top: 0; background: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%);}
        &:after {bottom: 0; background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%);}
    }
    &_footer {
        background: #222; @include br(0 0 2px 2px); color: #828282;
        font-size: 12px; line-height: 16px;
        &_item {@include flex; width: 100%; justify-content: space-between; padding: 5px 8px; position: relative;}
        &_item:before {@include bf; height: 1px; background: #0c0c0c; left: 8px; bottom: 0; right: 8px;}
        &_item:last-child::before {content: none; display: none;}
        &_item.center {justify-content: center;}
        &_value {color: #fff;}
        &_value.blue {color: $blue;}
    }
}
.numbers_scale {
    background: #222; position: absolute; left: 0; width: 100%; bottom: 0; z-index: 5;
    padding: 130px 0;
    &_item {
        color: #bdbdbd; font-size: 16px; line-height: 20px; text-align: center;
        width: 100%; position: relative; padding: 5px 0;
        &:after {
            @include bf; border-top: 2px solid #1cdb1c; border-right: 2px solid #1cdb1c;
            right: 0; width: 4px; height: 30px; top: 15px;
        }
        &.yellow:after {border-color: #ffe500;}
        &.red:after {border-color: #ff0000;}
        &.fst:after {height: 0; top: 15px;}
    }
    &.rt &_item {
        &:after {
            left: 0; right: auto; border-right: 0; border-left-width: 2px; 
            border-top-color: #fff; border-left-style: solid;
        }
    }
}
.numbers_fixed {
    background: #0c0c0c; @include br(2px); padding: 4px 5px 4px 8px; z-index: 20;
    position: absolute; right: 7px; top: 50%; color: #fff; margin-top: -18px; min-width: 65px;
    font-size: 24px; line-height: 28px; letter-spacing: 0.1em; text-align: right;
    &:after {
        @include bf; background: url(../images/arrow.svg) no-repeat; width: 7px; height: 20px;
        position: absolute; right: -6px; top: 50%; margin-top: -10px;
    }
    &_num {position: relative; z-index: 5;}
    &_slide {
        background: #0c0c0c; @include br(4px); border-right: 1px solid #fff; right: 0;
        width: 30px; height: 54px; position: absolute; top: 50%; margin-top: -27px; overflow: hidden;
        &:before, &:after {@include bf; height: 24px; left: 0; width: 100%; z-index: 10;}
        &:before {
            top: 0; @include br(4px 4px 0 0); 
            background: linear-gradient(to bottom, rgba(0,0,0,0.95) 0%,rgba(0,0,0,0) 100%);
        }
        &:after {
            bottom: 0; @include br(0 0 4px 4px); 
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%);
        }
        &_top, &_bottom {
            position: absolute; left: 7px; text-align: right; padding-right: 4px; font-size: 22px;
            width: 17px; overflow: hidden; white-space: nowrap; height: 24px; line-height: 24px;
            b {position: absolute; right: 0; top: 0; font-weight: normal; display: block;}
        }
        &_top {top: -10px;}
        &_bottom {bottom: -10px;}
    }
    &.rt {right: auto; left: 7px; min-width: 80px; border-left: 1px solid #fff;}
    &.rt:after {right: auto; left: -7px; transform: matrix(-1,0,0,1,0,0);}
    &.rt &_slide {
        border: 0; width: 44px;
        &_top, &_bottom {width: 34px; left: 4px;}
    }
}
.vx_scale {
    background: #414141; width: 8px; height: 332px; position: absolute;
    bottom: 143px; left: 100%;
    &_item {
        color: #00A3FF; font-size: 10px; line-height: 10px; position: absolute; z-index: 10;
        padding-left: 8px; left: 100%; margin-left: 3px; top: 50%; margin-top: -5px;
        &:before {@include bf; @include br(50%); left: 0; top: 4px; width: 3px; height: 3px; background: $blue;}
        &.v63 {margin-top: -14px;}
        &.v71 {margin-top: -8px;}
        &.v98 {margin-top: -29px;}
        &.v104 {margin-top: -17px;}
        &.v144 {margin-top: -17px;}
        &.v165 {margin-top: -21px;}
    }
    &_add {
        width: 2px; position: absolute; right: 0; bottom: 50%;
        &.h63 {background: $red; height: 8px;}
        &.h71 {background: $yel; height: 3px;}
        &.h165 {background: $green; height: 15px;}
    }
}

/* numbersbox_content_left */
.numbersbox_content_left {
    background: 0; width: 110px;
    .numbers_scale {width: 80px;}
    .numbers_fixed {right: 38px;}
}



/* mainscreen */
.mainscreen {
    width: 100%; height: 290px; position: relative; @include br(0 0 2px 2px);
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    &_wrapper {width: 100%; position: relative;}
    &2, &3 {display: none;}
    &3 {background: #0D2DF6;}
    &_btn {
        width: 90px; height: 90px; position: absolute; left: 50%; top: 50%;
        border: 0; background: 0; @include inp; margin: -45px 0 0 -45px;
        cursor: pointer; z-index: 1000; opacity: 0;
    }
}

/* mainscreen3 */
.plane1 {
    background: url(../images/screen3/plane_scale-2.svg) no-repeat; width: 32px; height: 126px;
    position: absolute; left: 95px; top: 14px;
    &_arrow {
        background: url(../images/screen3/plane2.svg) no-repeat; width: 125px; height: 62px;
        position: absolute; left: 12px; top: 33px;
    }
}
.plane2 {
    background: url(../images/screen3/plane_scale-1.svg) no-repeat; width: 176px; height: 65px;
    position: absolute; right: 20px; bottom: 36px;
    &_arrow {
        background: url(../images/screen3/plane1.svg) no-repeat; width: 156px; height: 55px;
        position: absolute; left: 50%; margin-left: -78px; top: -23px;
    }
}


/* mainscreen2 */
.mainscreen2 {
    overflow: hidden;
    &_bg {
        position: relative; height: 100%; width: 100%;
        &_top, &_bottom {
            position: absolute; left: 0; width: 100%; height: 1152px;
            &:before {@include bf; left: 0; width: 100%; height: 1152px;}
        }
        &_top {
            background: linear-gradient(to bottom, #2079ff 0%,#2fc1ff 50%,#2079ff 100%);
            border-top: 1px solid #fff;
            bottom: 50%;
            &:before {
                background: linear-gradient(to bottom, #139273 0%,#90CA99 50%,#139273 100%);
                bottom: 100%; margin-bottom: 1px;
            }
        }
        &_bottom {
            background: linear-gradient(to bottom, #139273 0%,#90CA99 50%,#139273 100%);
            border-bottom: 1px solid #fff;
            top: 50%;
            &:before {
                background: linear-gradient(to bottom, #2079ff 0%,#2fc1ff 50%,#2079ff 100%);
                top: 100%; margin-top: 1px;
            }
        }
        &_horizon {
            background: #fff; position: absolute; left: 50%; width: 460px; margin-left: -230px;
            top: 50%; height: 1px;
        }
        &_wrap {height: 100%; width: 460px; left: 50%; margin-left: -230px; position: relative;}
    }
    &_roll {
        background: url(../images/screen2/roll.svg) no-repeat; width: 234px; height: 234px;
        position: absolute; left: 50%; top: 29px; margin: 0 0 0 -117px;
    }
    &_plane {
        background: url(../images/screen2/plane3.svg) no-repeat; width: 188px; height: 56px;
        position: absolute; left: 50%; top: 50%; margin: -30px 0 0 -94px;
    }
    &_meter {
        background: url(../images/screen2/screen-meter.svg) no-repeat; margin-left: -38px;
        width: 76px; height: 136px; position: absolute; left: 50%; top: 75px;
    }
}

/* .mainscreen1 */
.mainscreen1 {
    overflow: hidden;
    &_arrow {
        background: url(../images/screen1/arrow.svg) no-repeat; width: 156px; height: 23px;
        position: absolute; left: 50%; top: 141px; margin: 0 0 0 -78px;
    }
}

/* pitch_scale */
.scales_wrapper {
    position: absolute; width: 100%; height: 100%; left: 0; top: 0;
    @include flex; justify-content: center; align-items: center;
}
.roll_scale {
    background: url(../images/screen1/scale-top.svg) no-repeat; width: 166px; height: 38px;
    position: absolute; left: 50%; top: 30px; margin-left: -83px;
    &_arrow {
        background: url(../images/roll-arrow.svg) no-repeat; width: 11px; height: 10px;
        position: absolute; left: 50%; top: -9px; margin-left: -5px;
        transform: matrix(1,0,0,-1,0,0);
    }
}
.roll_arrow {
    background: url(../images/roll-arrow.svg) no-repeat; width: 11px; height: 10px;
    position: absolute; left: 50%; top: 32px; margin-left: -5px;
}
.pitch_scale {
    color: #fff; font-size: 8px; line-height: 10px; position: relative; z-index: 1000;
    width: 86px; height: 164px; overflow: hidden;
    &_inner {
        background: url(../images/screen-meter.svg) no-repeat; width: 86px; height: 2708px;
        position: absolute; left: 50%; top: 50%; margin-top: -1360px; margin-left: -43px;
    }
}


/* mainscreen2 */
.mainscreen2 {
    .pitch_scale {z-index: 10; position: absolute; left: 50%; top: 50%; margin: -82px 0 0 -43px;}
}


/* speed_height */
.speed_height {
    background: #191919; width: 38px; height: 290px; border-left: 2px solid #fff; padding-top: 9px;
    position: absolute; left: 100%; top: 26px; font-size: 14px; line-height: 20px; color: #fff;
    &_item {
        position: relative; padding-left: 4px; text-align: right; padding-right: 7px; margin: 0 0 22px;
        min-height: 20px;
        &:before {@include bf; background: #fff; height: 2px; top: 50%; margin-top: -1px; width: 4px; left: 0;}
        &:last-child {margin: 0;}
        &.v0:before {width: 10px; z-index: 100;}
    }
    &_zero {
        position: absolute; border: 26px solid transparent; border-right: 26px solid #000;
        top: 50%; margin-top: -26px; right: 0; z-index: 50;
        &:after {
            @include bf; border: 10px solid transparent; border-right: 10px solid #fff;
            top: 50%; margin-top: -10px; right: -20px;
        }
    }
    &_arrow {
        background: #222; border: 1px solid #828282; border-left: 0; min-width: 50px; height: 33px;
        position: absolute; left: 16px; top: 50%; margin-top: -16px; z-index: 150; padding-top: 1px;
        color: #fff; font-size: 18px; line-height: 32px; text-align: center; padding-right: 6px;
        &:after {
            @include bf; background: url(../images/height-arrow.svg) 0 center no-repeat;
            width: 16px; height: 33px; left: -16px; top: -1px;
        }
    }
}


/* angle */
.angle {
    width: 55px;
    &_header {
        background: #0C0C0C; opacity: 1; color: #fff; font-size: 12px; line-height: 14px;
        text-align: center; @include br(3px 3px 0 0); padding: 3px;
    }
    &_content {
        background: #0C0C0C; opacity: 0.8; @include br(0 0 3px 3px); min-height: 64px;
        padding: 5px 0;
    }
    &_scale {
        background: url(../images/angle-scale.svg) no-repeat; background-size: cover;
        width: 29px; height: 52px; position: relative; margin: 0 0 0 7px;
    }
    &_range {
        position: absolute; height: 0; width: 22px; overflow: hidden;
        left: 24px; bottom: 0; height: 52px;
        svg {position: absolute; left: 0;}
        &_top, &_bottom {position: absolute; width: 100%; left: 0; height: 0; overflow: hidden;}
        &_top {
            bottom: 26px;
            svg {bottom: -26px;}
        }
        &_bottom {
            top: 26px;
            svg {top: -26px;}
        }
    }
}
.mainscreen1 .angle {position: absolute; right: 8px; bottom: 8px;}
.mainscreen2 .angle {position: absolute; right: 8px; top: 8px;}
.mainscreen3 .angle {position: absolute; left: 8px; bottom: 30px;}














/* Slider */
#custom-handle, #custom-handle2, #custom-handle3, #custom-handle4, #custom-handle5, #custom-handle6,
#custom-handle7, #custom-handle8, #custom-handle9, #custom-handle10, #custom-handle11, #handle-kmh,
#handle-gyro, #handle-compas, #handle-screen1, #handle-screen2, #handle-screen3, #handle-pitch,
#handle-heeling, #handle-pitch2, #handle-angle, #handle-m, #handle-height {
    width: 30px;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    margin-left: -15px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    @include br(50%);
}
.settings, .settings2 {
    background: #252525; z-index: 1000; padding: 10px 20px; font-size: 12px; line-height: 14px;
    width: 320px; position: fixed; right: 0; top: 0; bottom: 0; @include anim(200ms); color: #fff;
    transform: translate(320px); -ms-transform: translate(320px); z-index: 500;
    &.open {transform: translate(0px); -ms-transform: translate(0px); z-index: 1000;}
    .bars {position: absolute; left: -46px; top: 10px;}
}
.settings2 .bars {top: 60px;}
.field {margin: 0 0 40px;}
.btn {
    background: #333; @include br(5px); color: #fff;
    font-size: 16px; line-height: 20px; display: inline-block;
    border: 0; text-align: center; @include inp; text-decoration: none;
    padding: 6px 12px;
    &.active {background: $red;}
    &.block {display: block; margin: 0 0 20px; font-size: 14px;}
}
.row.field {margin-left: -14px; margin-right: -14px;}
.row.field .grid6 {padding: 0 14px;}






